<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raíces Jujeñas</title>
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="./../assets/css/producto.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">


</head>

<body id="top">
    <!-- HEADER -->

    <header class="header" data-header>
        <div class="container">
            <div class="overlay" data-overlay></div>
            <a href="#" class="logo">
                <img src="./../assets/images/logo.svg" width="160" height="50" alt="Logo">
            </a>
            <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
                <ion-icon name="menu-outline"></ion-icon>
            </button>

            <nav class="navbar" data-navbar>
                <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                    <ion-icon name="close-outline"></ion-icon>
                </button>

                <a href="#" class="logo">
                    <img src="./../assets/images/logo.svg" width="190" height="50" alt="Logo">
                </a>

                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a href="index.html" class="navbar-link">Inicio</a>
                    </li>
                    <li class="navbar-item">
                        <a href="./producto.html" class="navbar-link">Producto</a>
                    </li>
                    <li class="navbar-item">
                        <a href="./login.html" class="navbar-link">Iniciar Sesion</a>
                    </li>
                    <li class="navbar-item">
                        <a href="./registro.html" class="navbar-link">Registrarse</a>
                    </li>
                    <li class="navbar-item">
                        <a href="./carrito.html" class="navbar-link">Carrito</a>
                    </li>
                </ul>
                <ul class="nav-action-list">
                    <li>
                        <button class="nav-action-btn">
                            <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
                            <span class="nav-action-text">Buscar</span>
                        </button>
                    </li>
                    <li>
                        <a href="#" class="nav-action-btn">
                            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                            <span class="nav-action-text">Log In / Sing Up</span>
                        </a>
                    </li>
                    <li>
                        <button class="nav-action-btn">
                            <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                            <span class="nav-action-text">Favoritos</span>
                            <data class="nav-action-badge" value="5" aria-hidden="true">5</data>
                        </button>
                    </li>

                    <li>
                        <button class="nav-action-btn">
                            <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
                            <data class="nav-action-text" value="318.00">Carrito:</data>
                            <data class="nav-action-badge" value="4" aria-hidden="true">4</data>
                        </button>
                    </li>

                </ul>

            </nav>

        </div>
    </header>

    <!--MAIN-->

    <h2 class="h2 section-title" style="text-align: center; display: block;">DETALLE DE PRODUCTO</h2>

    <main>
        <div class="container-img">
            <img src="./../assets/images/product-1.png" alt="imagen-producto" style="margin: auto; display: block;">
        </div>

        <div class="container-info-product">
            <div class="container-price">
                <span>$$$ PRECIO</span>
                <i class="fa-solid fa-angle-right"></i>
            </div>
            <div class="container-details-product">
                <div class="form-group">
                    <label for="colour">Color</label>
                    <select name="colour" id="colour">
                        <option disabled selected value="">
                            Escoge una opción
                        </option>
                        <option value="rojo">Rojo</option>
                        <option value="blanco">Blanco</option>
                        <option value="beige">Beige</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="size">Tamaño</label>
                    <select name="size" id="size">
                        <option disabled selected value="">
                            Escoge una opción
                        </option>
                        <option value="Small">Chico</option>
                        <option value="Medium">Mediano</option>
                        <option value="Large">Grande</option>
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input type="number" placeholder="1" value="1" min="1" class="input-quantity" />
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>



            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-additional-information hidden">
                    <p>-----------</p>
                </div>
            </div>

            <div class="container-reviews">
                <div class="title-reviews">
                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p>-----------</p>
                </div>
            </div>

            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </main>
    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="./../assets/images/product-1.png" alt="producto-4" />
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="./../assets/images/product-1.png" alt="producto-4" />
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="./../assets/images/product-1.png" alt="producto-4" />
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="./../assets/images/product-1.png" alt="producto-4" />
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->

    <footer class="footer">

        <div class="footer-top section">
            <div class="container">
                <div class="footer-brand">
                    <a href="#" class="logo">
                        <img src="./../assets/images/logo.svg" width="160" height="50" alt="Raices Jujeñas Logo">
                    </a>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-pinterest"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-link-box">
                    <!-- Footer Contacto -->
                    <div class="footer-list">
                        <h2 class="footer-list-title">Contacto </h2>
                        <li>
                            <a class="footer-link">
                                <ion-icon name="location"></ion-icon>
                                <span class="footer-link-text">
                                    Y4600, Belgrano 3000, San Salvador de Jujuy, Jujuy - Argentina
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="footer-link">
                                <ion-icon name="call"></ion-icon>

                                <span class="footer-link-text">+549 (388) - 1234567</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:footcap@help.com" class="footer-link">
                                <ion-icon name="mail"></ion-icon>
                                <span class="footer-link-text">raicesjujeñas@jujuy.com</span>
                            </a>
                        </li>
                    </div>

                    <!-- Footer Cuenta -->
                    <div class="footer-list">

                        <h2 class="footer-list-title">Mi Cuenta</h2>
                        <li>
                            <a href="#" class="footer-link">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                                <span class="footer-link-text">Perfil</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">
                                <ion-icon name="chevron-forward-outline"></ion-icon>

                                <span class="footer-link-text">Ver Carrito</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                                <span class="footer-link-text">Lista de Deseos</span>
                            </a>
                        </li>
                    </div>

                    <!-- Footer Preguntas -->
                    <div class="footer-list">
                        <h2 class="footer-list-title">Preguntas</h2>
                        <li>
                            <a href="#" class="footer-link">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                                <span class="footer-link-text">¿Cuál es el propósito de Raíces Jujeñas?</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                                <span class="footer-link-text">¿Cómo puedo acceder a mi cuenta?</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                                <span class="footer-link-text">¿Cómo puedo contactar al equipo de soporte?</span>
                            </a>
                        </li>
                    </div>

                    <!-- Footer NewsLetter-->
                    <div class="footer-list">
                        <h2 class="footer-list-title">Newsletter</h2>
                        <p class="newsletter-text">
                            ¡Suscríbete para no perderte de nuestras últimas noticias y actualizaciones!
                        </p>
                        <form action="" class="newsletter-form">
                            <input type="email" name="email" required placeholder="Ingresá tu correo"
                                class="newsletter-input">
                            <button type="submit" class="btn btn-primary">Suscribirse</button>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    &copy; 2023 <a href="https://www.digitalhouse.com/ar" class="copyright-link"> Digital House</a>.
                    Todos los
                    derechos reservados
                </p>

            </div>
        </div>

    </footer>

    <!-- INICIO DE PAGINA -->
    <a href="#top" class="go-top-btn" data-go-top>
        <ion-icon name="arrow-up-outline"></ion-icon>
    </a>

    <script src="./../assets/js/script.js"></script>

    <!-- ICONOS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="./../assets/js/producto.js"></script>
</body>

</html>