:root {
    /**Colores*/
    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-11-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --terracota: #cb6843;
    --terracota_2: #f7a486e1;
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);
    --bg-gray: rgb(250, 250, 250);


    /**Tipografia */

    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;
    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;

    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /** Transiciones */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

    /**Spacing*/
    --section-padding: 60px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
table,
tbody,
button,
ion-icon {
    display: block;
}

button,
input {
    font: inherit;
    background: none;
    border: none;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
    line-height: 1.8;
}

html {
    font-family: var(--ff-josefin-sans);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    font-size: 1.6rem;
    padding-block-start: 90px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
   * #HEADER
\*-----------------------------------*/

.header {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition-1);
    z-index: 4;
    border-bottom: 1px solid var(--gray-x-11-gray);
}

.header.active {
    box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

.nav-open-btn {
    font-size: 30px;
    background: var(--terracota);
    color: var(--white);
    padding: 8px;
}

.nav-open-btn:is(:hover, :focus) {
    background: var(--terracota_2);
}

.nav-open-btn ion-icon {
    --ionicon-stroke-width: 40px;
}

.navbar {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -280px;
    width: 100%;
    max-width: 270px;
    height: 100%;
    border-right: 3px solid var(--rich-black-fogra-29);
    font-family: var(--ff-roboto);
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 2;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
}

.navbar.active {
    visibility: visible;
    transform: translateX(280px);
    transition: 0.5s var(--cubic-in);
}

.nav-close-btn {
    color: var(--rich-black-fogra-29);
    position: absolute;
    top: 0;
    right: 0;
    padding: 13px;
    font-size: 25px;
    transition: var(--transition-1);
}

.nav-close-btn ion-icon {
    --ionicon-stroke-width: 55px;
}

.nav-close-btn:is(:hover, :focus) {
    color: var(--terracota);
}

.navbar .logo {
    background: var(--maximum-blue-green_10);
    padding-block: 50px 40px;
}

.navbar .logo img {
    margin-inline: auto;
}

.navbar-list,
.nav-action-list {
    margin: 30px;
}

.navbar-list {
    padding: 20px;
    border-bottom: 1px solid var(--gainsboro);
}

.navbar-link {
    color: var(--rich-black-fogra-29);
    padding-block: 10px;
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
    color: var(--terracota);
}

.navbar-item:not(:last-child) {
    border-bottom: 1px solid var(--gainsboro);
}

.nav-action-list>li:first-child {
    display: none;
}

.nav-action-btn {
    color: var(--rich-black-fogra-29);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-block: 10px;
    transition: var(--transition-1);
}

.nav-action-btn:is(:hover, :focus) {
    color: var(--terracota);
}

.nav-action-btn ion-icon {
    font-size: 22px;
    --ionicon-stroke-width: 25px;
}

.nav-action-text strong {
    font-weight: initial;
    color: var(--terracota);
}

.nav-action-badge {
    margin-left: auto;
    font-size: var(--fs-8);
    background: var(--terracota);
    color: var(--white);
    width: 18px;
    height: 18px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.6);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}





/* MAIN */

.main {
    padding: 0 15px;
}

.main>div {
    display: flex;
    flex-direction: column;
    padding: 13px 0;
    gap: 0px;

    max-width: 1400px;
    margin: 30px auto;
    font-size: var(--fs-5);
    font-family: var(--ff-josefin-sans);


    background: var(--bg-gray);
    box-shadow: 6px 4px 11px 5px rgb(210 210 210 / .7);



    border-radius: 4px;

}

.main .main-productos {
    flex: 1.9;
    padding: 20px;
    font-size: var(--fs-6);
    font-family: var(--ff-josefin-sans);
}



.main .main-productos>div {
    font-size: var(--fs-3);
    font-family: var(--ff-josefin-sans);
    font-weight: bold;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: solid 2px var(--terracota_2);
    color: var(--black)
}


.main .main-productos .producto {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;

    margin: 8px 0;
    gap: 10px;
    padding: 0 20px 0 10px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 2px solid transparent;
}

.main .main-productos .producto:hover {
    border: 2px solid var(--terracota_2);
}

.main .main-productos .producto div {
    display: grid;
    place-content: center;

}


.main .main-productos .producto div img {
    width: 80px;
    height: 80px;
    padding: 4px 0;
    object-fit: contain;
    cursor: pointer;
}

.main .main-productos .producto .producto-nombre {
    cursor: pointer;
    color: #000;
}

.main .main-productos .producto .producto-precio {
    font-weight: bold;
}

.main .main-productos .producto i {
    color: #333;
    cursor: pointer;
    margin-top: 1px;
}


.main .main-resumen_compra {
    flex: 1;
    padding: 20px;
    padding-top: 5px;

}

.main-resumen_compra .main-resumen_compra-titulo {
    font-size: var(--fs-3);
    font-family: var(--ff-josefin-sans);
    font-weight: bold;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: solid 2px var(--terracota_2);
    color: var(--black);
}

.main-resumen_compra section {
    background: #fff;
    margin-top: 8px;
    padding: 30px 15px;
    border-radius: 4px;

    font-family: var(--ff-josefin-sans);

}

.main-resumen_compra section>h5 {
    font-weight: lighter;
    font-size: var(--fs-5);

}


.main-resumen_compra section .main-resumen_compra-info {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: var(--fs-3);
    letter-spacing: 1px;
}



.main-resumen_compra section>button {
    border: none;
    padding: 14px 0;
    background: var(--terracota);
    color: #FFF;
    width: 100%;
    font-size: var(--fs-6);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s ease;
}

.main-resumen_compra section>button:hover {
    background: var(--terracota_2);
}


.aside {
    padding: 0 15px;
    margin: 60px 0;
}

.aside>div {
    max-width: 1400px;
    padding: 15px 0;
    flex-direction: column;
    background: var(--bg-gray);
    box-shadow: 6px 4px 11px 5px rgb(210 210 210 / .7);

    margin: 20px auto 30px;
    border-radius: 4px;
}

.aside h3 {
    font-size: var(--fs-3);
    font-family: var(--ff-josefin-sans);
    font-weight: bold;
    padding: 20px;
}


.aside section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 20px;
    place-content: center;
    padding: 10px;
    padding-bottom: 30px;
}

.aside section article {
    background: var(--cultured);
    padding-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.aside section article .info-product {
    padding: 20px 15px;
    color: var(--black);
    background: #FFF;
    text-align: center;
    border: 3px solid var(--cultured);
}

.aside section article .info-product .category {
    font-size: var(--fs-6);


}

.aside section article .info-product .name {
    padding: 8px 0;
    font-weight: bold;
    font-size: var(--fs-3);
}

.aside section article .info-product .price {
    color: var(--terracota);
    font-weight: bold;
    font-size: var(--fs-5);
    letter-spacing: 1px;
}


.aside section article .texto .precio p:last-child {
    color: var(--color-primary-200);
}


.aside section article .img-box {
    padding-bottom: 10px;
    /* border-bottom: 2px solid #DDD; */
    margin: auto;
    position: relative;
    width: 255px;
    height: 270px;
}

.aside section article .img-box img {
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}


.card-badge {
    position: absolute;
    top: 0px;
    left: 2px;
    background: var(--terracota);
    color: var(--white);
    padding: 5px 15px;
    font-family: var(--ff-roboto);
    font-size: var(--fs-7);
    border-radius: 25px;
}

.card-action-list {
    position: absolute;
    top: 5px;
    right: -20px;
    opacity: 0;

    transition: var(--transition-1);
}


.aside section article .img-box:hover .card-action-list {
    opacity: 1;
    right: 5px;
}


.card-action-item {
    position: relative;
}

.card-action-btn {
    background: var(--white);
    color: var(--rich-black-fogra-29);
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    transition: var(--transition-1);
}

.card-action-btn ion-icon {
    --ionicon-stroke-width: 30px;
}

.card-action-btn:is(:hover, :focus) {
    background: var(--terracota);
    color: var(--white);
}

.card-action-tooltip {
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
    width: max-content;
    background: var(--black_90);
    color: var(--white);
    font-family: var(--ff-roboto);
    font-size: var(--fs-7);
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}

.card-action-btn:is(:hover, :focus)+.card-action-tooltip {
    opacity: 1;
}

.card-content {
    padding: 24px 15px 0;
    text-align: center;
}

.card-cat {
    font-family: var(--ff-roboto);
    color: var(--onyx);
    font-size: var(--fs-7);
    margin-bottom: 12px;
}

.card-cat-link {
    display: inline-block;
    color: inherit;
    transition: var(--transition-1);
}

.card-cat-link:is(:hover, :focus) {
    color: var(--terracota);
}

.product-card .card-title {
    margin-bottom: 12px;
}

.product-card .card-title>a {
    color: inherit;
    transition: var(--transition-1);
}

.product-card .card-title>a:is(:hover, :focus) {
    color: var(--terracota);
}

.card-price {
    color: var(--terracota);
    font-family: var(--ff-roboto);
    font-weight: var(--fw-600);
}

.card-price del {
    color: var(--gray-x-11-gray);
    margin-left: 8px;
}

.btn-link {
    --background: none;
    --border-color: none;
    padding: 0;
    margin-inline: auto;
    max-width: max-content;
    font-family: var(--ff-roboto);
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
    padding-bottom: 6px;
    border-bottom: 1px solid var(--white);
}

.btn-link:is(:hover, :focus) {
    border-color: transparent;
}













/**FOOTER*/

.footer {
    font-family: var(--ff-roboto);
}

.footer-top {
    background: var(--cultured);
}

.footer-brand {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--gainsboro);
    margin-bottom: 50px;
}

.footer-brand .logo {
    margin-bottom: 15px;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-link {
    background: var(--gainsboro);
    color: var(--onyx);
    font-size: 20px;
    padding: 10px;
    transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
    background: var(--terracota);
    color: var(--white);
}

.footer-list-title {
    position: relative;
    color: var(--rich-black-fogra-29);
    font-family: var(--ff-josefin-sans);
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    margin-bottom: 25px;
}

.footer-list-title::after {
    content: "";
    display: block;
    background: var(--terracota);
    width: 50px;
    height: 2px;
    margin-top: 10px;
}

.footer-link {
    color: var(--onyx);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 6px;
    transition: var(--transition-1);
}

a.footer-link:is(:hover, :focus) {
    color: var(--terracota);
}

.footer-link-text {
    flex: 1;
}

.footer-list:not(:last-child) {
    margin-bottom: 30px;
}

.footer-list:first-child ion-icon {
    color: var(--terracota);
    font-size: 22px;
}


.newsletter-text {
    color: var(--onyx);
    line-height: 1.7;
    margin-bottom: 20px;
}

.newsletter-form {
    position: relative;
}

.newsletter-input {
    background: var(--white);
    color: var(--onyx);
    padding: 15px 25px;
    padding-right: 120px;
}

.newsletter-form .btn-primary {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-family: var(--ff-josefin-sans);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    padding-inline: 20px;
}

.footer-bottom {
    background: var(--rich-black-fogra-29);
    padding-block: 20px;
}

.copyright {
    text-align: center;
    color: var(--white);
}

.copyright-link {
    display: inline-block;
    color: var(--terracota);
}





/*-----------------------------------*\
   * #GO TOP
  \*-----------------------------------*/

.go-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--terracota);
    color: var(--white);
    font-size: 20px;
    padding: 10px;
    border: 4px solid var(--white);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
    z-index: 2;
}

.go-top-btn.active {
    opacity: 1;
    visibility: visible;
}

.go-top-btn:is(:hover, :focus) {
    background: var(--terracota_2);
}


/**Multimedia*/

@media (min-width: 575px) {

    :root {
        --fs-1: 4rem;
    }

    .container {
        max-width: 650px;
        width: 100%;
        margin-inline: auto;
    }

    .has-scrollbar>li {
        min-width: calc(50% - 12.5px);
    }

    /** Baner */

    .banner-text {
        font-size: var(--fs-7);
        color: var(--white)
    }

    /** PRODUCTOS*/

    .product-list {
        grid-template-columns: 1fr 1fr;
    }

    /**TENDENCIAS - OFERTAS */

    .cta-card {
        text-align: left;
    }

    .cta-card .card-title {
        max-width: 14ch;
    }

    .cta-card .btn-link {
        margin-inline: 0;
    }



    /** JUJUY TIRA DE IMAGENES POST  */

    .jujuy-post-list .jujuy-post-item {
        min-width: 25%;
    }

    /**FOOTER*/

    .footer-brand .logo {
        margin-bottom: 0;
    }

    .footer-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-link-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

}

/** RESPONSIVE PARA MAS DE 768px en Pantalla*/

@media (min-width: 768px) {
    :root {
        --fs-2: 3rem;
    }

    /* CARRITO */
    .aside section {
        /* grid-template-columns: repeat(auto-fill, 230px); */

    }
    .main>div {
        gap: 7px;
        flex-direction: row;
        padding: 0;
        box-shadow: 6px 6px 11px 5px rgb(225 225 225 / .7);

    }

    .main .main-productos {
        padding: 25px;
        padding-right: 10px;
    }


    .main .main-resumen_compra {
        padding: 25px;
        padding-left: 10px;
    }

    .main-resumen_compra section {
        margin-top: 8px;
        padding: 20px 15px;

    }

    
    .aside>div {
        box-shadow: 6px 6px 11px 5px rgb(225 225 225 / .7);
    } 
    
    /* FIN CARRITO */

    .container {
        max-width: 720px;
    }

    .h4 {
        --fs-5: 2rem;
    }

    /**blog*/

    .special-banner .banner-title {
        --fs-4: 2.2rem;
    }

    .special-product .has-scrollbar>li {
        min-width: 100%;
    }

    .special .container {
        display: flex;
        gap: 25px;
    }

    .special .section-title {
        margin-block-start: 0;
    }

    .special-banner,
    .special-product {
        min-width: calc(50% - 12.5px);
    }

    .special-banner {
        height: auto;
    }

    /** JUJUY TIRA DE IMAGENES */

    .jujuy-post-list .jujuy-post-item {
        min-width: 20%;
    }

    .go-top-btn {
        padding: 15px;
        border-width: 6px;
        bottom: 30px;
        right: 30px;
    }

}

/**RESPONSIVE PARA + 992px en pantalla*/

@media (min-width: 992px) {


    :root {

        --fs-3: 2.4rem;

    }


    .container {
        max-width: 970px;
    }

    .has-scrollbar>li {
        min-width: calc(33.33% - 16.66px);
    }



    /** HEADER*/

    .nav-open-btn,
    .nav-close-btn,
    .navbar .logo,
    .nav-action-text,
    .overlay {
        display: none;
    }

    .navbar,
    .navbar-list,
    .nav-action-list {
        all: unset;
    }

    .navbar-item:not(:last-child) {
        border: none;
    }

    .navbar-list,
    .nav-action-list {
        display: flex;
    }

    .nav-action-list {
        gap: 20px;
    }

    .navbar {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .navbar-list {
        margin-inline: auto;
        gap: 35px;
    }

    .navbar-link {
        font-family: var(--ff-roboto);
        font-weight: var(--fw-500);
    }

    .nav-action-list>li:first-child {
        display: block;
    }

    .nav-action-btn {
        position: relative;
    }

    .nav-action-badge ion-icon {
        --ionicon-stroke-width: 30px;
    }

    .nav-action-badge {
        position: absolute;
        top: 5px;
        right: -12px;
    }


    .bannner {
        height: 480px;
    }


    /**PRODUCTOS*/

    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }



    /** OFERTAS - TENDENCIAS*/

    .cta-list {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .cta-card {
        padding-inline: 50px;
        opacity: 0.9;
        text-align: left;
    }



    /** BLOG */

    .special-banner {
        min-width: calc(33.33% - 25px);
    }

    .special-product {
        min-width: 66.66%;
    }

    .special-product .has-scrollbar>li {
        min-width: calc(50% - 12.5px);
    }


    /** JUJUY TIRA DE IMAGENES */

    .jujuy-post-list .jujuy-post-item {
        min-width: 16.666%;
    }

}





/**
   * responsive for larger than 1200px screen
   */

@media (min-width: 1200px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * typography
       */

        --fs-1: 5rem;
        --fs-2: 3.6rem;

    }



    /**
     * REUSED STYLE
     */

    .container {
        max-width: 1280px;
    }



    /** BANNER */

    .banner {
        height: 580px;
    }

    .banner .container {
        max-width: 1000px;
    }

    .banner-text {
        font-size: var(--fs-6);
        max-width: 50ch;
    }



    /**
     * PRODUCTS
     */

    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }



    /**
     * SPECIAL
     */

    .special-banner {
        min-width: calc(25% - 25px);
    }

    .special-product .has-scrollbar>li {
        min-width: calc(33.33% - 16.66px);
    }

    .special-banner .banner-title {
        --fs-4: 2.4rem;
    }



    /**
     * SERVICE
     */

    .service-item {
        width: 275px;
    }

    .service-card .card-icon {
        min-width: 70px;
        height: 70px;
    }

    .service-card .card-title {
        --fs-6: 2rem;
    }



    /**
     * Jujuy Tira de Imagenes
     */

    .jujuy-post {
        padding-block-end: 0;
    }

    .jujuy-post-list .jujuy-post-item {
        min-width: 12.5%;
    }

    .jujuy-post-list {
        padding-bottom: 0;
    }



    /**
     * FOOTER
     */

    .footer-link-box {
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
        gap: 50px;
    }

}